* { margin: 0; padding: 0; }

.container {
    border: 1px solid #878787;
    text-align: left;
    width: 700px;

    left: 0;                  /* set left and right to the same value*/
    right: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    background: #363636;
}

.instructions {
    color: #ffffff;
}
.key {
    color: #95EC00;
}

body {
	background: #0B0B0B;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    border: 1px solid #878787;
}

h1 {
	font-size: 30px;
}

p {
	margin: 0 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.button {
	background: #185da8;
	display: block;
	font-size: 20px;
	margin: 40px 0 0 150px;
	padding: 10px;
	width: 75px;
}

a.button:hover {
	background: #2488f5;
	color: #fff;
	text-decoration: none;
}
