* { 
  margin: 0;
  padding: 0;
}

html,body {
  background: url(Art/pattern1.jpg);
  height: 100%;
}

div {
  display:inline-block;
}

p { 
  line-height: 18px;
  margin-bottom: 12px;
}

h1 {
  color: #CCC;
  font-size: 24px;
  background: none;
  vertical-align: text-top;
}

h2 {
  font: 20px;
  margin-bottom: 12px;
}



.container {
  color: #CCC;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.content {
  margin-left: 250px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  position: absolute;
  background: url(Art/pattern2.png);
  border-right: 1px solid;
  border-left: 1px solid;
  border-color:#666;
  width: 600px;
  min-height: 100%;
}

.content a {
  color: #64BFE1;
  text-decoration: none;
}

.content a:hover {
  color: #09C;
  text-decoration: none;
}

.item {
  margin-top: 50px;	
}

.item ul {
  margin-left: 18px;
}

.itemHeading {
  width:600px;
  margin-bottom: 12px;
  border-bottom: 1px dotted;
  border-color:#666;
  background: url(Art/pattern4.png);
  background-repeat:repeat;
}

.itemFooter {
  font-size:12px;
  margin-top:12px;
}

.addBottomMargin {
  margin-bottom: 50px;
}

.addTopMargin {
  margin-top: 50px;
}


.tintText {
  color:#F3BA34;
}

.key {
  color: #95EC00;
}

#nav {
  width: 200px;
  float: left;
  position: fixed;
  margin: 50px;
  height: 100%;
}

#nav ul {
  list-style: none;
}

#nav li {
  line-height: 18px;
}

#nav a {
  color: #FFF;
  text-decoration: none;
}

#nav a:hover {
  color: #09C;
  text-decoration: none;
}

#nav li a {
  color: #FFF;
  text-decoration: none;
}

#nav li a:hover {
  color: #09C;
  text-decoration: none;
}
